body {
  background-color: rgb(4, 29, 29);
}

.container {
  width: 360px;
  padding: 33px;
  text-align: center;
  background-color: rgb(34, 19, 198);
  margin: 33%;
  margin-top: 100px;
}

input {
  width: 260px;
  height: 42px;
  color: rgb(37, 35, 35);
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  font-size: 22px;
}

button {
  width: 60px;
  height: 42px;
  background-color: rgb(230, 142, 26);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-size: 22px;
}

.text ul {
  background-color: orange;
  padding: 20px;
  color: white;
  font-size: 25px;
  background-color: rgb(4, 29, 29);

}

.text ul i {
  padding-left: 200px;
  cursor: pointer;
}

h2{
  color: aliceblue;
}